section{
    border: 2px solid red;
}

.maca{
    display: flex;
    align-items: center;  /* alinhamento do eixo tranversal */ 
    justify-content: center;/* alinhamento do eixo principal */ 
    gap: 4rem; /* espaçamento entre os elementos  da display flex */ 

    margin-bottom: 1rem;
}

.maca img{
    width: 20rem;
}

.maca p {
    width: 30rem;
    text-align: center;
}

.uva-verde{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;

    margin-bottom: 1rem;
}

.uva-verde img{
    width: 20rem;
}

.uva-verde p {
    width: 30rem;
    text-align: center;
}

.formulario{
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.formulario div {
    display: flex;
    flex-direction: column;
}

.formulario form{
    width: 30rem;
}